# Dependencies
/node_modules

# Build output
/dist

# Temporarily ignore all PNG files
*.png
*.jpg

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE and OS files
.DS_Store
.vscode/