* {
    transition-property: all;
    transition-duration: 1000ms;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;

    color: darkslategray;
    background-color: rgb(235, 235, 246);
    margin: 0;
    display: flex;
    flex-direction: column;
}

header#navbar {
    background-color: lavender;
    /* margin: 0 -6vh 6vh -6vh; */
    /* padding: 2vh 2vw 2vh 2vw; */
    position: fixed;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1vh;
    text-align: center;
    /* padding-bottom: 2vh; */
    /* padding-top: 1.5vh; */

    min-block-size: 10vh;
    width: 100%;
    border-bottom: 2px lightslategray solid;

    /* I expected this to be -1 for on top, but this works */
    z-index: 1;
}

div#headercontent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

div#mainlink {
    padding-left: 2vw;
}

div#searchlink {
    padding-right: 2vw;
}

a.nav:link {
    text-decoration: none;
    color: darkslategray;
}

a.nav:visited {
    color: darkslategray
}

a.nav:hover {
    color: cadetblue;
}

h1#title {
    margin-block: 0;
}

h1#mainpagetitle {
    margin: 36vh 27vw 49vh 27vw;
    padding: 5vw;
    background-color: lavender;
    border: 2px lightslategray solid;
    width: 34vw;
    font-size: 3vw;
    text-align: center;
}

div#mainpagebody {
    display: flex;
    justify-content: space-between;
    margin: 0 7vw 0 7vw;
}

h1#bodytitle {
    background-color: rgb(235, 235, 246);
}

h2#bodycontent {
    background-color: black;
}

#rightbody {
    width: 50%;
}

#leftbody {
    width: 50%;
}

h1#bodytitle,
h2#bodycontent {
    margin-block-start: 0;
}

div#bodycolumn {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 100%;
    background-color: lavender;
    border: 2px lightslategray solid;
    padding: 2vw 0 2vw 2vw;
}

div.content {
    font-size: 1.5em;
    margin-bottom: 20vh;
    padding: 1vw;
}

div.content div.contenttitle {
    font-weight: bolder;
    margin-bottom: 1.5vh;
}

iframe#lpmap {
    height: 50vh;
    /* height: 80%; */
    width: 90%;
}


div#imggrid {
    margin: 40vh 8vw 20vh 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.imgrow {
    display: flex;
    justify-content: space-around;
}

img.gridimg {
    width: 1000px;
    max-width: 80%;
    margin: 2vw;
}

footer.otherinfo {
    display: flex;
    width: 100%;
    justify-content: space-around;

    background-color: rgb(215, 215, 233);
    padding-top: 6vh;
    padding-bottom: 3vh;
    margin-bottom: -6vh;
    border-top: 2px lightslategray solid;

    font-size: smaller;
}

/* I need to play around with this some more. The idea is that I dont need to have all the info on every single page, but I still want to have the visual effect of a footer. */
footer.otherinfo#singlepage {
    /* position: absolute; */
    margin-top: 0;
    bottom: 6vh;
    padding-top: 0vh;
    padding-bottom: 0;
    height: 1vh;
    color: rgb(215, 215, 233)
}

footer.otherinfo div.footerhead {
    font-weight: bolder;
}

div#submit {
    width: 15%;
    text-align: center;
    margin-bottom: 10vh;
    margin-left: 40.5%;
    padding: 1vw;
    background-color: rgb(215, 215, 233);
    border: 2px lightslategray solid;
}






/* survey */

form#survey {
    margin: 15vh 5vw 15vh 5vw;
    background-color: lavender;
    border: 2px lightslategray solid;
    padding: 1vw;
}

fieldset {
    border: none;
}

div.formlinebreak {
    margin: 5vh;
}

input,
textarea {
    background-color: rgb(235, 235, 246);
}

textarea#description {
    display: block;
    margin: 1vh;
}





/* media queries */

@media screen and (orientation: portrait) {
    h1#title {
        font-size: 1.5em;
        /* max-width: 40%; */
    }

    header#navbar {
        justify-content: space-around;
    }
/* 
    .navlink, .headerelement {
        max-width: 40%;
    } */

    div#headercontent {
        width: 80%;
        margin-left: 0;
        margin-right: 0;
        /* max-width: 30%; */
    }
}










/* -------------------------------------- cat pages -------------------------------------- */

h1.catname {
    /* width: 100%; */
    text-align: center;
    /* margin: 20vh 5vh 0 10vh; */
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

div.styleline {
    min-block-size: 0.3vh;
    width: 20%;
    background-color: darkslategray;
    margin: 2vh auto 2vh auto;
}

div.bio {
    width: 30%;
    margin: 5vh auto 5vh auto;
}

div.bio ul.bioinfo {
    background-color: lavender;
    border: 2px lightslategray solid;
    padding: 3vh 3vw 3vh 3vw;
    color: darkslateblue;
}

ul.bioinfo div.infotitle {
    font-size: 1.2em;
    color: darkslateblue;
    font-weight: bolder;
}

ul.bioinfo div.infocontent {
    color: darkslategray;
}

a.namelink {
    color: darkslateblue;
    text-decoration: none;
}

a.namelink:hover {
    color: rgb(46, 39, 89);
    font-style: italic;
}

img.catthumbnail {
    max-width: 27%;
    position: absolute;
}

img.catfullimg {
    position: fixed;
    height: 80vh;
    top: 10000vh;
    opacity: 0;
}

div#grayout {
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    position: fixed;
    opacity: 0;
    top: -10000px;
}

div#exitfullscreen {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    opacity: 0;
    top: -10000px;
}



/* sid */
img#sid1 {
    top: 12vh;
    left: 2vw;
}

img#sid2 {
    top: 55vh;
    left: 2vw;
}

img#sid3 {
    top: 20vh;
    right: 4vw;
}

/* ember */
img#ember1 {
    top: 12vh;
    right: 2vw;
    min-width: 30%;
}

img#ember2 {
    top: 20vh;
    left: 3vw;
    min-width: 30%;
}

img#ember3 {
    top: 55vh;
    right: 2vw;
    min-width: 30%;
}

body#ember, body#ember div.infocontent,  body#ember div.bio ul.bioinfo {
    background-color: rgb(200, 200, 200);
    color: rgb(53, 0, 0);
}

body#ember div#headercontent, body#ember header#navbar, body#ember footer.otherinfo#singlepage  {
    color: rgb(53, 0, 0);
    background-color: rgb(190, 190, 190); ;
}   

body#ember div.infotitle, body#ember h1.catname, body#ember h1#title {
    color: rgb(120, 0, 0);
}

body#ember a.namelink, body#ember a.nav {
    color: rgb(160, 0, 0);
}

body#ember a.namelink:hover, body#ember a.nav:hover {
    color: rgb(255, 0, 0);
}



/* biscuit */
img#biscuit1 {
    top: 12vh;
    left: 3vw;
    min-width: 20%;
}

img#biscuit2 {
    top: 55vh;
    left: 35vw;
    min-width: 45vw;
}
