* {
    transition-property: all;
    transition-duration: 300ms;
    /* border-radius: 5% 1%; */
}




/* -------------------------- main page/general ------------------------ */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;

    color: darkslategray;
    background-color: rgb(235, 235, 246);
    margin: 0;
    display: flex;
    flex-direction: column;
}

header#navbar {
    background-color: lavender;
    position: fixed;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1vh;
    text-align: center;
    min-block-size: 10vh;
    width: 100%;
    border-bottom: 2px lightslategray solid;
    z-index: 1;
}

div#headercontent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

div#mainlink {
    padding-left: 2vw;
}

div#searchlink {
    padding-right: 2vw;
    cursor: pointer;
}

a.nav:link {
    text-decoration: none;
    color: darkslategray;
}

a.nav:visited {
    color: darkslategray
}

a.nav:hover {
    color: cadetblue;
}

h1#title {
    margin-block: 0;
}

h1#mainpagetitle {
    margin: 36vh 27vw 49vh 27vw;
    padding: 5vw;
    background-color: lavender;
    border: 2px lightslategray solid;
    width: 34vw;
    font-size: 3vw;
    text-align: center;
    cursor: pointer;
}

div#navigatorarrow {
    font-size: 30pt;
    position: absolute;
    bottom: 5vh;
    left: 40vw;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div#mainpagebody {
    display: flex;
    justify-content: space-between;
    margin: 0 7vw 0 7vw;
}

h1#bodytitle {
    background-color: rgb(235, 235, 246);
    position: sticky;
    position: -webkit-sticky;
    top: 20vh;
}

h2#bodycontent {
    background-color: black;
}

#rightbody {
    width: 50%;
}

#leftbody {
    width: 50%;
}

h1#bodytitle,
h2#bodycontent {
    margin-block-start: 0;
}

div#bodycolumn {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 100%;
    background-color: lavender;
    border: 2px lightslategray solid;
    padding: 2vw 0 2vw 2vw;
}

div.content {
    font-size: 1.5em;
    margin-bottom: 20vh;
    padding: 1vw;
}

div.content div.contenttitle {
    font-weight: bolder;
    margin-bottom: 1.5vh;
}

iframe#lpmap {
    height: 50vh;
    width: 90%;
}

div#imggrid {
    margin: 40vh 8vw 10vh 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.imgrow {
    display: flex;
    justify-content: space-around;
}

img.gridimg {
    width: 1000px;
    max-width: 80%;
    margin: 2vw;
}

footer.otherinfo {
    display: flex;
    width: 100%;
    justify-content: space-around;

    background-color: rgb(215, 215, 233);
    padding-top: 6vh;
    padding-bottom: 3vh;
    margin-bottom: -6vh;
    border-top: 2px lightslategray solid;

    font-size: smaller;
}

footer.otherinfo#singlepage {
    margin-top: 0;
    bottom: 6vh;
    padding-top: 0vh;
    padding-bottom: 0;
    height: 1vh;
    color: rgb(215, 215, 233)
}

footer.otherinfo div.footerhead {
    font-weight: bolder;
}

div#submit {
    width: 15%;
    text-align: center;
    margin-bottom: 10vh;
    margin-left: 40.5%;
    padding: 1vw;
    background-color: rgb(215, 215, 233);
    border: 2px lightslategray solid;
}

div#lastcontent {
    margin-bottom: 3vh;
}









/* ------------------------ search function ----------------------- */

div#searchpanel {
    position: fixed;
    right: 0;
    top: 0;
    background-color: lavender;
    z-index: 20;
    min-height: 100%;
    min-width: 20%;
    border-left: lightslategray 2px solid;
    display: none;
}

div#searchitems {
    display: inline;
}

div.searchitem {
    position: fixed;
    margin-left: 1vw;
}

div.searchitem:hover a {
    background-color: darkslategray;
    color: lavender;
}

div.searchitem a {
    text-decoration: none;
    color: darkslategray;
    width: 75%;
    padding: 1vh;
    box-shadow: 2px 2px darkslategray;
}


input#searchtext {
    position: fixed;
    background-color: rgb(235, 235, 246);
    color: darkslategray;
    border: 2px lightslategray solid;
    margin: 1vw;
    margin-top: 0.5vh;
    font-size: larger;
}










/* ---------------------------- submission form -----------------------------------------*/

form#submitcat {
    margin: 15vh 5vw 15vh 5vw;
    background-color: lavender;
    border: 2px lightslategray solid;
    padding: 1vw;
}

fieldset {
    border: none;
}

div.formlinebreak {
    margin: 5vh;
}

input,
textarea {
    background-color: rgb(235, 235, 246);
}

input.button {
    background-color: rgb(235, 235, 246);
    border: lightslategray 2px solid;
    color: darkslategray;
}

textarea#description {
    display: block;
    margin: 1vh;
}

div#thankyou {
    border: 2px lightslategray solid;
    padding: 3vh;
    margin-top: 30vh;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30vh;
    display: none;
}

div#thankyou a {
    cursor: pointer;
}











/* -------------------------- media queries -------------------------- */

@media screen and (orientation: portrait) {
    body {
        font-size: 18px;
    }

    h1#title {
        font-size: 1.5em;
    }

    h1#mainpagetitle {
        font-size: 20pt;
        padding: 2vw;
        width: 60%;
        margin: 10vh auto 10vh auto;
    }

    header#navbar {
        justify-content: space-between;
        font-size: 12px;
        width: 100vw;
        min-block-size: 3vh;
        z-index: 7;
    }

    div#headercontent {
        height: 2vh;
    }

    div#headercontent {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    div#imggrid {
        margin-top: 0;
        visibility: hidden;
    }

    div#mobileimggrid {
        visibility: visible;
    }

    div#mainpagebody {
        display: block;
        margin: 0 auto 0 auto;
        font-size: 12pt;
    }

    div#leftbody {
        visibility: hidden;
    }

    div#rightbody {
        width: 90%;
        margin: 0 auto 0 auto;
    }

    div.catpage {
        color: blue;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin: 0;
    }

    div.styleline {
        width: 60%;
    }

    img.catthumbnail {
        position: static;
        width: 80vw;
        margin: 0 auto 0 auto;
        cursor: zoom-in;
    }

    div.bio {
        min-width: 90%;
    }

    div.bio ul.bioinfo {
        padding: 3vh 3vw 3vh 3vw;
        width: 90%;
    }

    div#imagebox {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-block-size: 50vh;
    }

    img.catfullimg {
        position: fixed;
        width: 80%;
        top: 10000vh;
        opacity: 0;
        z-index: 11;
    }

    ul.bioinfo {
        list-style: none;
    }

    div#navigatorarrow {
        visibility: hidden;
    }

    div#searchpanel {
        min-width: 40%;
    }

    div#thankyou {
        width: 80%;
    }

}

@media screen and (orientation: landscape) {
    div#imggrid {
        visibility: visible;
    }

    div#mobileimggrid {
        visibility: hidden;
        display: none;
    }

    img#tulip2 {
        max-width: 200px;
    }
}












/* -------------------------------------- cat pages -------------------------------------- */

h1.catname {
    text-align: center;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

div.styleline {
    min-block-size: 0.3vh;
    width: 20%;
    background-color: darkslategray;
    margin: 2vh auto 2vh auto;
}

div.bio {
    width: 30%;
    margin: 5vh auto 5vh auto;
    z-index: 6;
}

div.bio ul.bioinfo {
    background-color: lavender;
    border: 2px lightslategray solid;
    padding: 3vh 3vw 3vh 3vw;
    color: darkslateblue;
    z-index: 6;
}

ul.bioinfo div.infotitle {
    font-size: 1.2em;
    color: darkslateblue;
    font-weight: bolder;
    z-index: 6;
}

ul.bioinfo div.infocontent {
    color: darkslategray;
}

a.namelink {
    color: darkslateblue;
    text-decoration: none;
}

a.namelink:hover {
    color: rgb(46, 39, 89);
    font-style: italic;
}

@media screen and (orientation: landscape) {
    img.catthumbnail {
        width: 25%;
        position: absolute;
        /* z-index: 1; */
        cursor: zoom-in;
    }

    img.catfullimg {
        position: fixed;
        height: 80vh;
        top: 10000vh;
        opacity: 0;
        z-index: 11;
    }
}

div#grayout {
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    position: fixed;
    opacity: 0;
    top: -10000px;
    z-index: 9;
}

div#exitfullscreen {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    z-index: 12;
    opacity: 0;
    top: -10000px;
}











/* sid */
img#sid1 {
    top: 12vh;
    left: 2vw;
}

img#sid2 {
    top: 55vh;
    left: 2vw;
}

img#sid3 {
    top: 20vh;
    right: 4vw;
}

body#sidpage,
body#sidpage div.infocontent,
body#sidpage div.bio ul.bioinfo {
    background-color: dimgray;
    color: lightgray;
}

body#sidpage div#headercontent,
body#sidpage header#navbar,
body#sidpage footer.otherinfo#singlepage {
    background-color: dimgray;
    color: lightgray;
}

body#sidpage div.infotitle,
body#sidpage h1.catname,
body#sidpage h1#title {
    color: white
}

body#sidpage a.namelink,
body#sidpage a.nav {
    color: lightskyblue
}

body#sidpage a.namelink:hover,
body#sidpage a.nav:hover {
    color: black
}

body#sidpage div.styleline {
    background-color: white;
}




/* ember */
img#ember1 {
    top: 12vh;
    right: 2vw;
    min-width: 30%;
}

img#ember2 {
    top: 20vh;
    left: 3vw;
    min-width: 30%;
}

img#ember3 {
    top: 55vh;
    right: 2vw;
    min-width: 30%;
}

body#emberpage,
body#emberpage div.infocontent,
body#emberpage div.bio ul.bioinfo {
    background-color: rgb(200, 200, 200);
    color: rgb(53, 0, 0);
}

body#emberpage div#headercontent,
body#emberpage header#navbar,
body#emberpage footer.otherinfo#singlepage {
    color: rgb(53, 0, 0);
    background-color: rgb(190, 190, 190);
    ;
}

body#emberpage div.infotitle,
body#emberpage h1.catname,
body#emberpage h1#title {
    color: rgb(120, 0, 0);
}

body#emberpage a.namelink,
body#emberpage a.nav {
    color: rgb(160, 0, 0);
}

body#emberpage a.namelink:hover,
body#emberpage a.nav:hover {
    color: rgb(255, 0, 0);
}




/* biscuit */
img#biscuit1 {
    top: 12vh;
    left: 3vw;
    min-width: 20%;
}

img#biscuit2 {
    bottom: 2vh;
    right: 3vw;
    min-width: 35vw;
}

img#biscuit3 {
    top: 25vh;
    right: 1vw;
    min-width: 26vw;
}

h1#biscuitname {
    margin-top: 15vh;
}

body#biscuitpage div.bio {
    margin-top: 0;
}

body#biscuitpage,
body#biscuitpage div.infocontent,
body#biscuitpage div.bio ul.bioinfo {
    background-color: blanchedalmond;
    color: dimgray;
}

body#biscuitpage div#headercontent,
body#biscuitpage header#navbar,
body#biscuitpage footer.otherinfo#singlepage {
    background-color: blanchedalmond;
    color: dimgray;
}

body#biscuitpage div.infotitle,
body#biscuitpage h1.catname,
body#biscuitpage h1#title {
    color: sienna;
}

body#biscuitpage a.namelink,
body#biscuitpage a.nav {
    color: sandybrown;
}

body#biscuitpage a.namelink:hover,
body#biscuitpage a.nav:hover {
    color: white;
}

body#biscuitpage div.styleline {
    background-color: darkslategray;
}




/* emmett */
img#emmett1 {
    top: 14vh;
    right: 3vw;
    min-width: 27vw;
}

img#emmett3 {
    bottom: 5vh;
    right: 3vw;
    min-width: 27vw;
}

img#emmett2 {
    top: 25vh;
    left: 3vw;
}

body#emmettpage,
body#emmettpage div.infocontent,
body#emmettpage div.bio ul.bioinfo {
    background-color: oldlace;
    color: gray;
}

body#emmettpage div#headercontent,
body#emmettpage header#navbar,
body#emmettpage footer.otherinfo#singlepage {
    background-color: oldlace;
    color: gray;
}

body#emmettpage div.infotitle,
body#emmettpage h1.catname,
body#emmettpage h1#title {
    color: darkkhaki
}

body#emmettpage a.namelink,
body#emmettpage a.nav {
    color: rgb(211, 102, 0);
}

body#emmettpage a.namelink:hover,
body#emmettpage a.nav:hover {
    color: rgb(0, 0, 0);
}

body#emmettpage div.styleline {
    background-color: slategray;
}




/* lucy */
img#lucy3 {
    left: 2vw;
    top: 15vh;
    min-width: 30vw;
}

img#lucy2 {
    top: 15vh;
    right: 5vw;
    min-width: 20vw;
}

img#lucy1 {
    bottom: 3vh;
    left: 40vw;
    max-width: 20vw;
}

h1#lucy {
    margin-top: 15vh;
}

body#lucypage,
body#lucypage div.infocontent,
body#lucypage div.bio ul.bioinfo {
    background-color: oldlace;
    color: gray;
}

body#lucypage div#headercontent,
body#lucypage header#navbar,
body#lucypage footer.otherinfo#singlepage {
    background-color: oldlace;
    color: gray;
}

body#lucypage div.infotitle,
body#lucypage h1.catname,
body#lucypage h1#title {
    color: darkkhaki
}

body#lucypage a.namelink,
body#lucypage a.nav {
    color: rgb(211, 102, 0);
}

body#lucypage a.namelink:hover,
body#lucypage a.nav:hover {
    color: black
}

body#lucypage div.styleline {
    background-color: slategray
}




/* gunny */
img#gunny1 {
    bottom: 2vh;
    left: 30vw;
    min-width: 40vw;
}

img#gunny2 {
    left: 2vw;
    top: 17vh;
}

img#gunny3 {
    right: 2vw;
    top: 20vh;
    min-width: 25vw;
}

body#gunnypage,
body#gunnypage div.infocontent,
body#gunnypage div.bio ul.bioinfo {
    background-color: rgb(30, 30, 30);
    color: white;
}

body#gunnypage div#headercontent,
body#gunnypage header#navbar,
body#gunnypage footer.otherinfo#singlepage {
    background-color: rgb(30, 30, 30);
    color: white;
}

body#gunnypage div.infotitle,
body#gunnypage h1.catname,
body#gunnypage h1#title {
    color: gray;
}

body#gunnypage a.namelink,
body#gunnypage a.nav {
    color: lightblue;
}

body#gunnypage a.namelink:hover,
body#gunnypage a.nav:hover {
    color: white;
}

body#gunnypage div.styleline {
    background-color: lightslategray;
}




/* Gunny's brother */
img#brother1 {
    top: 15vh;
    left: 2vw;
}

img#brother2 {
    bottom: 10vh;
    left: 2vw;
    min-width: 25vw;
}

img#brother3 {
    top: 30vh;
    right: 2vw;
}

body#brotherpage,
body#brotherpage div.infocontent,
body#brotherpage div.bio ul.bioinfo,
body#brotherpage div#headercontent,
body#brotherpage header#navbar,
body#brotherpage footer.otherinfo#singlepage {
    background-color: ivory;
    color: lightslategray;
}

body#brotherpage div.infotitle,
body#brotherpage h1.catname,
body#brotherpage h1#title {
    color: burlywood;
}

body#brotherpage a.namelink,
body#brotherpage a.nav {
    color: rgb(211, 102, 0);
}

body#brotherpage a.namelink:hover,
body#brotherpage a.nav:hover {
    color: rgb(255, 0, 0);
}

body#brotherpage div.styleline {
    background-color: lightslategray;
}




/* violin */
img#violin1 {
    top: 15vh;
    left: 4vw;
}

img#violin2 {
    bottom: 7vh;
    left: 4vw;
}

img#violin3 {
    top: 20vh;
    right: 5vw;
    min-width: 25vw;
}

body#violinpage,
body#violinpage div.infocontent,
body#violinpage div.bio ul.bioinfo,
body#violinpage div#headercontent,
body#violinpage header#navbar,
body#violinpage footer.otherinfo#singlepage {
    background-color: blanchedalmond;
    color: firebrick;
}


body#violinpage div.infotitle,
body#violinpage h1.catname,
body#violinpage h1#title {
    color: darkred;
}

body#violinpage a.namelink,
body#violinpage a.nav {
    color: maroon;
}

body#violinpage a.namelink:hover,
body#violinpage a.nav:hover {
    color: coral;
}

body#violinpage div.styleline {
    background-color: lightslategray;
}




/* tulip */
img#tulip1 {
    top: 30vh;
    left: 2vw;
    min-width: 27vw !important;
}

img#tulip2 {
    bottom: 2vh;
    right: 3vw;
    min-width: 30vw;
}

img#tulip3 {
    right: 3vw;
    top: 15vh;
    
}

h1#tulip {
    margin-top: 15vh;
}

body#tulippage,
body#tulippage div.infocontent,
body#tulippage div.bio ul.bioinfo,
body#tulippage div#headercontent,
body#tulippage header#navbar,
body#tulippage footer.otherinfo#singlepage {
    background-color: gainsboro;
    color: rosybrown;
}

body#tulippage div.infotitle,
body#tulippage h1.catname,
body#tulippage h1#title {
    color: saddlebrown;
}

body#tulippage a.namelink,
body#tulippage a.nav {
    color: tan;
}

body#tulippage a.namelink:hover,
body#tulippage a.nav:hover {
    color: slategray;
}

body#tulippage div.styleline {
    background-color: lightslategray;
}




/* odysseus */
@media screen and (orientation: landscape) {
    img#odysseus1 {
        bottom: 5vh;
        left: 6vw;
    }

    img#odysseus2 {
        right: 3vw;
        top: 15vh;
        height: 50vh;
        width: auto;
    }

    img#odysseus3 {
        right: 30vw;
        top: 35vh;
        height: 50vh;

        width: auto;
    }
}

body#odysseuspage div#body {
    padding-right: 60vw;
}

body#odysseuspage div.bio {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

body#odysseuspage h1.catname {
    margin-top: 13vh;
}

body#odysseuspage,
body#odysseuspage div.infocontent,
body#odysseuspage div.bio ul.bioinfo,
body#odysseuspage div#headercontent,
body#odysseuspage header#navbar,
body#odysseuspage footer.otherinfo#singlepage {
    background-color: lightgray;
    color: dimgray;
}

body#odysseuspage div.infotitle,
body#odysseuspage h1.catname,
body#odysseuspage h1#title {
    color: black;
}

body#odysseuspage a.namelink,
body#odysseuspage a.nav {
    color: lightcyan;
}

body#odysseuspage a.namelink:hover,
body#odysseuspage a.nav:hover {
    color: royalblue;
}

body#odysseuspage div.styleline {
    background-color: lightslategray;
}




/* milo */
img#milo1 {
    top: 20vh;
    left: 2vw;
}

img#milo2 {
    top: 30vh;
    right: 2vw;
}

img#milo3 {
    bottom: 2vh;
    left: 30vw;
    min-width: 40vw;
}

h1#milo {
    margin-top: 14vh;
}

body#milopage,
body#milopage div.infocontent,
body#milopage div.bio ul.bioinfo,
body#milopage div#headercontent,
body#milopage header#navbar,
body#milopage footer.otherinfo#singlepage {
    background-color: cornsilk;
    color: lightsalmon;
}

body#milopage div.infotitle,
body#milopage h1.catname,
body#milopage h1#title {
    color: peru;
}

body#milopage a.namelink,
body#milopage a.nav {
    color: salmon;
}

body#milopage a.namelink:hover,
body#milopage a.nav:hover {
    color: darkkhaki;
}

body#milopage div.styleline {
    background-color: lightslategray;
}




/* guinness */
img#guinness1 {
    top: 20vh;
    left: 3vw;
    min-width: 25vw;
}

img#guinness2 {
    bottom: 2vh;
    right: 5vw;
    min-width: 25vw;
}

img#guinness3 {
    top: 12vh;
    right: 5vw;
    min-width: 25vw;
}

body#guinnesspage,
body#guinnesspage div.infocontent,
body#guinnesspage div.bio ul.bioinfo {
    background-color: rgb(216, 208, 198);
    color: saddlebrown;
}

body#guinnesspage div#headercontent,
body#guinnesspage header#navbar,
body#guinnesspage footer.otherinfo#singlepage {
    color: saddlebrown;
    background-color: rgb(216, 208, 198);
}

body#guinnesspage div.infotitle,
body#guinnesspage h1.catname,
body#guinnesspage h1#title {
    color: rgb(175, 143, 101);
}

body#guinnesspage a.namelink,
body#guinnesspage a.nav {
    color: rgb(175, 143, 101);
}

body#guinnesspage a.namelink:hover,
body#guinnesspage a.nav:hover {
    color: black;
}

body#guinnesspage div.styleline {
    background-color: lightslategray;
}




/* ernie */
img#ernie1 {
    top: 20vh;
    left: 3vw;
}

img#ernie2 {
    top: 25vh;
    right: 1vw;
    min-width: 32vw;
}

body#erniepage,
body#erniepage div.infocontent,
body#erniepage div.bio ul.bioinfo {
    background-color: rgb(255, 234, 200);
    color: rgb(35, 17, 0);
}

body#erniepage div#headercontent,
body#erniepage header#navbar,
body#erniepage footer.otherinfo#singlepage {
    color: rgb(35, 17, 0);
    background-color: rgb(255, 234, 200);
    ;
}

body#erniepage div.infotitle,
body#erniepage h1.catname,
body#erniepage h1#title {
    color: rgb(120, 54, 0);
}

body#erniepage a.namelink,
body#erniepage a.nav {
    color: rgb(211, 102, 0);
}

body#erniepage a.namelink:hover,
body#erniepage a.nav:hover {
    color: rgb(255, 0, 0);
}




/* beebo */
img#beebo1 {
    top: 15vh;
    right: 3vw;
    min-width: 30vw;
}

img#beebo2 {
    bottom: 4vh;
    right: 3vw;
    min-width: 30vw;
}

img#beebo3 {
    top: 30vh;
    left: 5vw;
}

body#beebopage,
body#beebopage div.infocontent,
body#beebopage div.bio ul.bioinfo {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

body#beebopage div#headercontent,
body#beebopage header#navbar,
body#beebopage footer.otherinfo#singlepage {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    ;
}

body#beebopage div.infotitle,
body#beebopage h1.catname,
body#beebopage h1#title {
    color: rgb(128, 128, 128);
}

body#beebopage a.namelink,
body#beebopage a.nav {
    color: rgb(200, 200, 200);
}

body#beebopage a.namelink:hover,
body#beebopage a.nav:hover {
    color: rgb(0, 0, 0);
}




/* max */
img#max1 {
    top: 14vh;
    left: 3vw;
}

img#max3 {
    bottom: 7vh;
    left: 3vw;
}

img#max2 {
    right: 4vw;
    top: 20vh;
    min-width: 25vw;
}

body#maxpage,
body#maxpage div.infocontent,
body#maxpage div.bio ul.bioinfo {
    background-color: rgb(50, 50, 50);
    color: white;
}

body#maxpage div#headercontent,
body#maxpage header#navbar,
body#maxpage footer.otherinfo#singlepage {
    color: white;
    background-color: rgb(50, 50, 50);
    ;
}

body#maxpage div.infotitle,
body#maxpage h1.catname,
body#maxpage h1#title {
    color: lightgray;
}

body#maxpage a.namelink,
body#maxpage a.nav {
    color: slategray;
}

body#maxpage a.namelink:hover,
body#maxpage a.nav:hover {
    color: white;
}

body#maxpage div.styleline {
    background-color: white;
}